$panel-width: 400px;
$navbar-height: 64px;

.panel {
  max-width: $panel-width;
}

.content {
  padding: 16px;
}

.top {
  height: $navbar-height;

  button {
    float: right;
    margin: 8px;
  }
}
