$panel-width: 400px;
$navbar-height: 64px;

.panel {
  > div {
    width: $panel-width;
  }
}

.content {
  padding: 16px;

  h1 {
    padding-left: 24px;
  }
}

.top {
  height: $navbar-height;

  button {
    float: right;
    margin: 8px;
  }
}
