$mobile-width: 600px;
$navbar-height: 64px;
$panel-height-mobile: 400px;
$panel-width: 400px;
$panel-width-tablet: 350px;
$tablet-width: 900px;

.panel {
  > div {
    width: $panel-width;

    @media (max-width: $tablet-width) {
      width: $panel-width-tablet;
    }

    @media (max-width: $mobile-width) {
      width: 100%;
      height: $panel-height-mobile;
    }
  }
}

.content {
  padding: 16px;

  h1 {
    padding-left: 24px;
  }
}

.top {
  height: $navbar-height;

  button {
    float: right;
    margin: 8px;
  }
}

.value {
  word-break: break-all;
}

@media (max-width: $tablet-width) {
  .content h1 {
    padding: 8px;
  }

  .table tr {
    th, td {
      padding: 0px 16px 0px 8px;
    }
  }
}


