$dialog-width: 400px;

.loader {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 85px;
  z-index: 999;

  > div {
    padding-left: 8px;

    > div:first-child {
      background-color: transparent;
    }
  }
}
