$navbar-height: 56px;

.map {
  height: calc(100% - #{$navbar-height});
  width: 100%;
}

button.location {
  position: absolute;
  right: 16px;
  top: 78px;
  z-index: 1000;
}

:export {
  featureFill: #f73378;
  featureStroke: #ab003c;
  locationFeatureFill: #2979ff;
  locationFeatureStroke: white;
  selectedFeatureFill: #f73378;
  selectedFeatureStroke: white;
}
